.outer-services-div {
	padding-top: 5rem;
}

.services-title {
	color: rgb(66, 66, 66);
	font-weight: 700;
	font-size: 2rem;
	margin-left: 0;
}

.services {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	padding: 1rem 4rem 1rem 4rem;
}

.service {
	display: grid;
	grid-template-rows: 5fr 1fr;
	background: #fff;
	margin: 5%;
	height: 40vh;
	color: #ff2940;
	border-radius: 5px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .1);
}

hr {
	height: 2px;
	width: 20rem;
	background: #ff2940;
	border-color: #ff2940;
	margin: auto;
}
