.about {
	display: grid;
	height: 70vh;
	border: 1px solid #000;
	margin: 2rem 5rem;
	background: url('../../images/purple_white.jpg');
}

.about-inner-div {
	/* border: 1px solid green; */
	display: grid;
}

.about-us-text {
	box-sizing: border-box;
}

.about-us-title {
	font-size: 2rem;
	margin: 1rem 0 0 0;
}

.about-pic {
	width: 90%;
	height: 200px;
	border-radius: 5px;
	align-content: center;
	justify-items: space-between;
}
