#contact {
	background: rgb(248, 237, 255);
	padding: 5rem 0;
}

.contacts {
	display: grid;
	font-family: 'Nunito', sans-serif;
	margin: 0 7vw 0 7vw;
	grid-template-columns: 2fr 1fr;
	background: #fff;
	height: 80vh;
	border-radius: 5px;
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, .05);
}

.contacts-title {
	color: rgb(66, 66, 66);
	font-size: 2rem;
	font-family: 'Nunito', sans-serif;
}

.address {
	text-align: left;
	padding: 2rem 3rem 2rem 3rem;
}

.addresses {
	font-weight: bold;
}
