.section {
	display: grid;
	padding: 1rem;
	align-items: center;
	justify-content: center;
	height: 27vh;
}

.section-thumbnail {
	height: 3.6rem;
	margin: auto;
	fill: red;
}

.service-name {
	font-size: 1.45rem;
	font-weight: 700;
	color: rgb(67, 67, 68);
}

a.section-link {
	font-size: 1.1rem;
	font-weight: 600;
	color: rgb(30, 38, 83);
	cursor: pointer;
}
